html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-snack-bar-container {
  &.snack-bar-success {
    --mdc-snackbar-container-color: #1a5eaf;
    --mat-mdc-snack-bar-button-color: #ffffff;
    --mdc-snackbar-supporting-text-color: #ffffff;
  }
}

